section{
  background-image:url(pink.jpg);
  background-size:cover;
}
.navbar{
    height:60px;
    width:100%;
    display:flex;
    justify-content: space-between;
    text-transform: capitalize;
    color: white;
    background-color:black;
}
.logo{
  text-transform: uppercase;
  color: white;
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.menubar a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left:30px;
}
.menubar{
  padding:20px;
}

.container {
    display: flex;
    justify-content: center;
  }
  .column {
    width: 50%;
    padding: 20px;
    position: relative;
  }
  
  .column img {
    width: 100%;
    max-width: 400px;
  }
  .column h1 {
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .column h1 span{
    font-size: 40px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  .column p {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 25px;
  }
  
  .buy-btn {
    width:150px;
    padding: 10px 20px;
    font-size: 18px;
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
  .buy-btn:hover{
    background-color: rgb(228, 100, 121);
  }
   .small img{
      width: 90px;
      margin-right: 30px;
      margin-top: 30px;
  }
  .menubar a:hover{
    color: rgb(228, 100, 121);
  }
  .foot{
    height:60px;
    background-color: black;
  }
  .foot h3{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    padding:20px;
  }
  .small {
    position: relative;
  }
  
  .pop{
    width: 200px;
    transition: transform 0.3s ease;
  }
  
  .pop:hover {
    transform: scale(1.2);
    z-index: 1;
  }
  
  

  

  
  
  